#quoteDisplay{
background-color:1px solid black;
 margin-top:20%;
margin-right:40%;
margin-left:20%;
  box-shadow: 5px 5px 5px black;
background-color:black;
color:white;
  

}

#btn
{
background-color:1px yellow;
  padding: 15px;
float:right;
box-shadow:5px 5px 5px black;
background-color:Yellow;
margin-right:31%;

  
border: none;
}
#btd{

background-color: coral;
}